<%- include ('./partials/header.ejs') %>

<body>

  <%- include('./partials/navbar.ejs') %>

  <H1>tudo certo agora</H1>
  <a href="perguntar">asdfasgsa</a>
</body>

<%- include('./partials/footer.ejs') %>
